In [15]:
import pandas as pd
commerce_data="commerce_only.xlsx"
convert_data=pd.read_excel(commerce_data)
print(convert_data)

#Total Revenue
print("üí∞REVENUE GENERATED")
generated_revenue=convert_data['prize'].sum()
print(generated_revenue)

   Order No cutomer Name        product  prize order date           city  \
0       Or1       sohail    samrt phone  15000 2025-10-01       hyderbad
1       Or2        kamal         laptop  20000 2025-10-02          delhi
2       Or3        vicky    smart watch  18000 2025-10-03        kolkata
3       Or4        rahul  smart glasses  17000 2025-10-04      banguluru
4       Or5       junaid           ring  21000 2025-10-05         mumbai
5       Or6        aksar      neck band  18000 2025-10-06         jaipur
6       Or7        ayaan        earpods  16000 2025-10-07          ajmer
7       Or8        vivek     headphones  15000 2025-10-08         odisah
8       Or9         boss      wire buds  45000 2025-10-09      hyderabad
9      Or10        verma           buds  17000 2025-10-10          delhi
10     Or11        kabir        vehicle  12000 2025-10-11         mumbai
11     Or12     singhdar         fitbit  10000 2025-10-12  jammu kashmir
12     Or13        mirza    smart watch  16000 2025-10-13          delhi
13     Or14        ahmed         iphone  35000 2025-10-14         mumbai
14     Or15        jawad        samsung  23000 2025-10-15          delhi
15     Or16         zayn          nokia  22000 2025-10-16           agra
16     Or17      kendall         laptop  21000 2025-10-17          delhi
17     Or18         nick        t-shirt  33000 2025-10-18       amrister
18     Or19      micheal      airjordan  22000 2025-10-19         punjab
19     Or20       jordan        airback  11000 2025-10-20         kerela

   payment method
0             upi
1         account
2            cash
3             upi
4         account
5            cash
6         scanner
7             upi
8         account
9            cash
10            upi
11        scanner
12          debit
13        account
14        account
15           cash
16        scanner
17            upi
18        scanner
19            upi
üí∞REVENUE GENERATED
407000

In [6]:
print("üèôÔ∏èCITY WISE REVENUE GENERATED")
convert_data['city']=convert_data['city'].replace('hyderbad','hyderabad')
# City Wise Revenue Generated
city_revenue=convert_data.groupby('city')['prize'].sum().reset_index()
print(city_revenue)

üèôÔ∏èCITY WISE REVENUE GENERATED
             city  prize
0            agra  22000
1           ajmer  16000
2        amrister  33000
3       banguluru  17000
4           delhi  97000
5       hyderabad  60000
6          jaipur  18000
7   jammu kashmir  10000
8          kerela  11000
9         kolkata  18000
10         mumbai  68000
11         odisah  15000
12         punjab  22000

In [7]:
print("TOP 5Ô∏è‚É£ SOLD PRODUCT") 
top_products=convert_data.groupby('product')['prize'].sum().sort_values(ascending=False).head(5).reset_index()
print(top_products)

TOP 5Ô∏è‚É£ SOLD PRODUCT
       product  prize
0    wire buds  45000
1       laptop  41000
2       iphone  35000
3  smart watch  34000
4      t-shirt  33000

In [8]:
print("üìÖ MONTHLY SALES TREND")
convert_data['order data']=pd.to_datetime(convert_data['order date'])
convert_data['month']=convert_data['order date'].dt.strftime('%y-%m')
monthly_sales=convert_data.groupby('month')['prize'].sum()
print(monthly_sales)

üìÖ MONTHLY SALES TREND
month
25-10    407000
Name: prize, dtype: int64

In [9]:
print("TOP 5Ô∏è‚É£ CUSTOMERS BUYED")
convert_data=convert_data.rename(columns={'cutomer Name':'Customer Name'})
top_customer=convert_data.groupby('Customer Name')['prize'].sum().sort_values(ascending=False).head(5)
print(top_customer)

TOP 5Ô∏è‚É£ CUSTOMERS BUYED
Customer Name
boss     45000
ahmed    35000
nick     33000
jawad    23000
zayn     22000
Name: prize, dtype: int64

In [11]:
print("NUMBER OF üí≥ PAYMENTS DONE")
payment_methods=convert_data['payment method'].value_counts()
print(payment_methods)

NUMBER OF üí≥ PAYMENTS DONE
payment method
upi        6
account    5
cash       4
scanner    4
debit      1
Name: count, dtype: int64

In [10]:
print("MOST üíπ FREQUENTLY SOLD PRODUCT")
sold_product=convert_data['product'].value_counts().sort_values(ascending=False)
print(sold_product.head(10))

MOST üíπ FREQUENTLY SOLD PRODUCT
product
laptop           2
smart watch      2
samrt phone      1
smart glasses    1
ring             1
neck band        1
earpods          1
headphones       1
wire buds        1
buds             1
Name: count, dtype: int64

In [81]:
print("üîÑÔ∏èDAILY ORDER COUNT")
daily_count=convert_data.groupby('order date')['Order No'].value_counts()
print(daily_count.head(5))

daily order count
order date  Order No
2025-10-01  Or1         1
2025-10-02  Or2         1
2025-10-03  Or3         1
2025-10-04  Or4         1
2025-10-05  Or5         1
Name: count, dtype: int64

In [13]:
print("üí∞REVENUE BY PAYMENT")
revenue_by_payment=convert_data.groupby('prize')['payment method'].value_counts().sort_values(ascending=False).head(10)
print(revenue_by_payment)

üí∞REVENUE BY PAYMENT
prize  payment method
18000  cash              2
15000  upi               2
11000  upi               1
10000  scanner           1
16000  debit             1
12000  upi               1
16000  scanner           1
17000  cash              1
       upi               1
20000  account           1
Name: count, dtype: int64

In [14]:
print("PRODUCT SOLD ACCORDING TO CITYüèôÔ∏è")
sold_according_city=convert_data.groupby('product')['city'].value_counts()
print(sold_according_city)

PRODUCT SOLD ACCORDING TO CITYüèôÔ∏è
product        city
airback        kerela           1
airjordan      punjab           1
buds           delhi            1
earpods        ajmer            1
fitbit         jammu kashmir    1
headphones     odisah           1
iphone         mumbai           1
laptop         delhi            2
neck band      jaipur           1
nokia          agra             1
ring           mumbai           1
samrt phone    hyderabad        1
samsung        delhi            1
smart glasses  banguluru        1
smart watch    delhi            1
               kolkata          1
t-shirt        amrister         1
vehicle        mumbai           1
wire buds      hyderabad        1
Name: count, dtype: int64